@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Raleway", sans-serif;
  color: #f8f9fa;
}

.homePage-section {
  display: flex;
  flex-direction: column;
  background-color: #0f52ba;
}

.about-page {
  background-color: #0f52ba;
  padding: 2rem 1rem;
}

#about-btn {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 10px;
}

.aboutPage-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.aboutPage-info > h1 {
  color: #f8f9fa;
  font-size: 30px;
}

.aboutPage-info > p {
  color: #f8f9fa;
  font-size: 20px;
}

.hero-section {
  display: flex;
  padding: 1.5rem 3rem;
  width: 100%;
  background-color: #0f52ba;
}

.hero-text-ii {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  padding: 40px;
  text-align: center;
}

.hero-text-ii > p {
  color: #f8f9fa;
  font-size: 30px;
  font-weight: 700;
}

.hero-text-ii > span {
  color: #f8f9fa;
  font-size: 25px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  border-radius: 8px;
  padding: 110px 20px;
  background-color: #ff6b6b;
}

.hero-text > p {
  font-size: 60px;
  background-color: #ff6b6b;
  color: #f8f9fa;
  margin-bottom: 10px;
}

.hero-text > span {
  font-size: 24px;
  background-color: #ff6b6b;
  color: #f8f9fa;
  margin-bottom: 50px;
}

.btn-style {
  cursor: pointer;
  border: 1px solid #f8f9fa;
  background-color: transparent;
  color: #f8f9fa;
  font-size: 20px;
  padding: 8px 17px;
  width: max-content;
  align-items: center;
  transition: border-color 0s;
  border-radius: 6px;
}

.explore-navlink {
  text-decoration: none;
  background-color: #ff6b6b;
}

.mta {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  background-color: #0f52ba;
}

.mta > span {
  font-size: 60px;
  color: #f8f9fa;
}

.mta > p {
  font-size: 20px;
  width: 50rem;
  line-height: 160%;
  color: #f8f9fa;
}

.stay-connected-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 0;
  background-color: #0f52ba;
}

.stay-connected-section > span {
  font-size: 60px;
  text-align: center;
  color: #f8f9fa;
}

.stay-connected-section > div {
  display: flex;
  justify-content: space-between;
  margin: 0 45px;
}

.sc-icon a {
  display: inline-block;
  transition: transform 0.5s ease-in-out;
}

.rotate-icon {
  display: inline-block;
  transition: transform 0.5s ease-in-out;
}

.sc-icon a:hover .rotate-icon {
  transform: rotateY(180deg);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: #ff6b6b;
  padding: 50px;
  text-align: center;
}

.footer > span {
  font-size: 35px;
  background-color: #ff6b6b;
}

.info {
  background-color: #ff6b6b;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.info > p {
  background-color: #ff6b6b;
}

/* Test Section */

.news-article-parent {
  padding: 2rem 3rem;
  background-color: #0f52ba;
}

.header-and-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header-and-btn > h1 {
  font-size: 30px;
  color: #f8f9fa;
}

.back-btn-link {
  text-decoration: none;
}

.news-article-parent > ul {
  list-style-type: none;
  margin-bottom: 30px;
}

.text-image {
  width: 50%;
  max-width: 550px;
  height: auto;
  border-radius: 10px;
}

.productDetailParentDiv {
  background-color: #0f52ba;
  padding: 2rem 3rem;
}

.prddetial-text-image {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 15px auto;
  max-width: 850px;
  height: 50vh;
  border-radius: 10px;
}

.art-link {
  border-bottom: 1px solid #f8f9fa;
  padding: 20px 0;
  display: flex;
  gap: 20px;
  width: 100%;
  text-decoration: none;
}

#art-details-id {
  width: 100%;
}

.art-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.art-details > h2 {
  font-size: 30px;
  color: #f8f9fa;
}

.art-details > p {
  font-size: 20px;
  color: #f8f9fa;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader-container-homePage {
  border: 2px solid #ff6b6b;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 40vh;
  margin: 0 auto;
}

.error-page-css {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  text-align: center;
}

.error-page-main {
  margin-top: 8rem;
}

.error-page-main > p {
  margin-bottom: 20px;
  color: #f8f9fa;
}

.error-page-main > h1 {
  margin-bottom: 20px;
  color: #f8f9fa;
}

.active {
  color: #ff6b6b;
}

.root-nav {
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.root-nav::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 3px;
  left: 0;
  background-color: F8F9FA;
  transition: width 0.3s ease-in-out;
}

.root-nav:hover {
  color: #ff6b6b;
}

.root-nav:hover::after {
  width: 100%;
}

.root-nav-dropDown {
  font-size: 23px;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease-in-out;
  color: #f8f9fa;
}

/* LATESTPOST STYLING */

.latestBlogPost {
  background-color: #ff6b6b;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.latestBlogPost > span {
  background-color: #ff6b6b;
  color: #f8f9fa;
  font-size: 60px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.latestBlogPost > h1 {
  background-color: #ff6b6b;
  font-size: 32px;
  color: #f8f9fa;
}

.latestBlogPost-text {
  background-color: #ff6b6b;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.latestBlogPost-text > h2 {
  background-color: #ff6b6b;
  font-size: 30px;
  color: #f8f9fa;
}

.latestBlogPost-text > p {
  background-color: #ff6b6b;
  font-size: 20px;
  color: #f8f9fa;
}

.latestBlogPost-unavil-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #fe302f;
  padding: 20px;
}

.latestBlogPost-unavil-text > h2 {
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 30px;
}

.latestBlogPost-unavil-text > h3 {
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.latest-post-image-parent {
  margin: 0 auto 20px;
}

.latest-post-image {
  width: 100%;
  max-width: 850px;
  height: 100%;
  border-radius: 10px;
}

@keyframes border-bottom {
  0% {
    border-bottom-color: initial;
  }
  100% {
    border-bottom-color: F8F9FA;
  }
}

@keyframes border-left {
  0% {
    border-left-color: initial;
  }
  100% {
    border-left-color: F8F9FA;
  }
}

@keyframes border-top {
  0% {
    border-top-color: initial;
  }
  100% {
    border-top-color: F8F9FA;
  }
}

@keyframes border-right {
  0% {
    border-right-color: initial;
  }
  100% {
    border-right-color: F8F9FA;
  }
}

#latestPostBtn:hover {
  animation: border-bottom 0.1s forwards, border-left 0.1s 0.1s forwards,
    border-top 0.1s 0.2s forwards, border-right 0.1s 0.3s forwards;
}

.dismiss-button:hover {
  animation: border-bottom 0.05s forwards, border-left 0.05s 0.05s forwards,
    border-top 0.05s 0.1s forwards, border-right 0.05s 0.15s forwards;
}

/* INTRO NOTE STYLING */

.intro-note {
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  z-index: 1000;
  animation: dropDown 1s ease forwards;
}

@keyframes dropDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.intro-note-content {
  padding: 60px 0;
  max-width: 950px;
  margin: 0 auto;
}

.dismiss-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 23px;
  cursor: pointer;
  border: 2px solid #fe302f;
  padding: 7px;
  border-radius: 10px;
  transition: border-color 0s;
  display: flex;
  align-items: center;
}

.intro-note-texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.intro-note-texts > h1 {
  color: #f8f9fa;
  font-size: 32px;
}

.intro-note-texts > p {
  color: #f8f9fa;
  font-size: 22px;
}

/* -----MEDIA QUERIES */

@media screen and (max-width: 990px) {
  .art-link {
    flex-direction: column;
  }

  .text-image {
    width: 100%;
    object-fit: cover;
    max-width: 100%;
  }

  .art-details {
    width: 100%;
  }

  .stay-connected-section > div {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
  }

  .stay-conn-img-parent {
    width: 140px;
    height: 140px;
  }

  #art-details-id > h2 {
    font-size: 40px;
  }

  #art-details-id > p {
    font-size: 25px;
  }

  .prddetial-text-image {
    object-fit: cover;
  }
}

@media screen and (max-width: 900px) {
  .mta > p {
    font-size: 25px;
  }
}

@media screen and (max-width: 930px) {
  .hero-section {
    flex-direction: column;
  }
  .hero-text-ii {
    width: 100%;
    padding: 20px 0;
  }
  .hero-text {
    width: 100%;
  }
  .latestBlogPost-text {
    width: 100%;
  }
  .prddetial-text-image {
    width: 100%;
  }
}

@media screen and (max-width: 890px) {
  .mta > span {
    font-size: 50px;
  }
  .mta > p {
    padding: 0 40px;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .productDetailParentDiv {
    padding: 2rem 1.5rem;
  }
  .news-article-parent {
    padding: 2rem 1.5rem;
  }

  .header-and-btn > h1 {
    font-size: 25px;
  }
  .stay-connected-section > span {
    font-size: 45px;
  }

  .mta > p {
    font-size: 18px;
  }

  .art-details > h2 {
    font-size: 25px;
  }

  .art-details > p {
    font-size: 18px;
  }

  #art-details-id > h2 {
    font-size: 30px;
  }

  #art-details-id > p {
    font-size: 25px;
  }
  .hero-section {
    padding: 1.5rem;
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .text-image {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 700px) {
  .latestBlogPost-text {
    width: 100%;
  }
  .latest-post-image-parent {
    height: 45vh;
  }
  .latestBlogPost > span {
    font-size: 50px;
  }
}

@media screen and (max-width: 780px) {
  .info {
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 600px) {
  .stay-connected-section > span {
    font-size: 38px;
  }

  .art-details > h2 {
    font-size: 23px;
  }
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.dropdown-menu {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  animation: slideDown 0.3s ease-in-out;
}

.nav-link-dropDown {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0 20px 60px;
  width: 100%;
  background-color: #0f52ba;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom: 1px solid #f8f9fa;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links > span {
  cursor: pointer;
  display: flex;
  align-items: center;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@media screen and (max-width: 930px) {
  .nav-links {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .dropdown-menu {
    animation: slideDown 0.5s ease-in-out;
  }
}

.search-btn {
  display: flex;
  align-items: center;
}

.search-btn > span {
  cursor: pointer;
}

.search-btn > input {
  color: #f8f9fa;
  background-color: #0f52ba;
  border: none;
  padding: 4px 0 4px 4px;
}

.search-btn > input::placeholder {
  color: #f8f9fa;
  font-size: 15px;
}

.search-btn > input:focus::placeholder {
  color: #f8f9fa;
}

.search-btn > input:active {
  outline: none;
}

.search-btn > input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #ff6b6b;
}
